@charset "UTF-8";

/* 공통 UI */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  overflow-x: hidden;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  border: 0 none;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  background-position: center;
}

.paymentBtn {
	padding-bottom: 30px;
	margin: auto 50%;
	align-items: center;
	justify-content: center;
	position: relative;
}
	
.payment_btn {
	width: 200px;
	height: 80px;
	background: #f1f1f1;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 30px;	
}
.payment_btn a {
	color: gray;
	text-decoration: none;
}

.addBu {
  width: 500px;
  height: 50px;
  border: 5px solid #0078AA;
  background: #0078AA;
  color: #F6F6F6;
  border-radius: 25px;
  margin-top: 5px;
  cursor: pointer;
  margin: auto;
  margin-left: 750px;
  margin-top: 20px;
}

.addBu a {
	color: white;
	text-decoration: none;
}

.form {
	margin: auto;
	text-align: center;
	border: 1px solid black;
	font-size: 20px;
	font-weight: bold;
	padding: 30px 200px;
    box-sizing: border-box;
    width: 1300px;
    height: 600px;
}



/*footer*/
.top {
  position: fixed;
  right: 40px;
  bottom: 70px;
  padding:10px;
  background-color:#0078AA;
  color:#fff;
  font-size: 20px;
  text-decoration:none;
}
